body{
    margin: 0;
    padding: 0;
    background:white;
    
}
*{
    margin: 0;
    padding: 0;
    
}
#main{
    width: 100%;
    height: 0vh !important;
    
    background-size: cover;
}
nav{
    width: 100%;
    height: 80px;
    background-color:#0004;
    line-height: 80px;
}
nav ul{
    float: right;
    margin-right: 30px;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    transition: 0.8s all;
}
nav ul li:hover{
    background-color:aliceblue;
    
}
nav ul li a{
    text-decoration:none;
    color: black;
    padding: 30px;
}
.footer{
    font-family:sans-serif;
    color:cornsilk;
    background-color:#0009;
    
    background-size: cover;
    height: 200px;    
}
.mid{
    display: block;
    background-color:white;
    color: black;
    margin-top: 0px;
    width: 100%;
    height: 30vh;
    
}
h1{
    margin-top: 90px;
    text-align:left;
    margin-left: 50px;
}
.mid .left{
    float: left
    background-color: black;
    margin-left: 30px;
    color: black;
}
.booking{
    margin-top: 0px;
    display: block;
    width: 100%;
    height: 100vh;
    background-color: crimson;
}

.rooms{
    font-size: 24px;
}
.react{
    {
    display: inline-block;
    padding: 12px 36px;
    margin: 10px 0;
    border-radius:40px;
}
}

